<div class="container">
  <h1>EMI.LY</h1>
  <div class="url_form">
    <%= form_for @url, remote: true, html: { id: "long" } do |f| %>
      <%= f.label :long_url, "Short link, I think!" %>
      <%= f.text_field :long_url %><br/>
      <%= f.submit %>
    <% end %>
  </div>
</div>
